<h3>Edit Recipe</h3>
<form action="/recipes/<%= @recipe.slug %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">

  <label>Recipe Name:</label>
  <input type="text" name="name" value="<%= @recipe.name %>">
  <br><br>

  <label>Recipe Desciption:</label>
  <input type="text" name="description" value="<%= @recipe.description %>">
  <br><br>

  <label>Recipe Ingredients:</label>
  <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
  <br><br>

  <label>Recipe Directions:</label>
  <input type="text" name="directions" value="<%= @recipe.directions %>">
  <br><br>

  <label>Recipe Cook Time (in minutes):</label>
  <input type="text" name="cook_time" value="<%= @recipe.cook_time %>">
  <br><br>

  <label>Choose a Category:</label>
    <%@categories.each do |category|%>
    <br>
        <input type="checkbox" name="categories[]" value="<%=category.id%>" id="<%=category.name%>" <%='checked' if @recipe.categories.include?(category) %>> <%=category.name%></input>
    <%end%>
  <br><br>

  <input type="submit" name="submit" value="Edit Recipe">

</form>
