<% if flash.has?(:message) %>
   <p style="color:red"><%= flash[:message] %></p>
<% end %>

<h3>Recipe Name: <%=@recipe.name%></h3>
<p>Decscription: <%=@recipe.description%></p>
<p>Ingredients: <%=@recipe.ingredients%></p>
<p>Directions: <%=@recipe.directions%></p>
<p>Cook Time: <%=@recipe.cook_time%></p>

<br>
<br>
<a href=<%="/recipes/#{@recipe.slug}/edit"%>>Edit Recipe </a>
<br>
<br>

<form action="/recipes/<%= @recipe.slug%>/delete" method="post">
  <input type="submit" value="Delete Recipe">
</form>

<br>
<br>
<h4>Category Tags:</h4>
  <%@recipe.categories.each do |category|%>
  <p><a href="/categories/<%= category.slug %>"><%= category.name%></a></p>
<% end %>
